* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    max-width: 840px;
}

nav{
    display: flex;
    justify-content: left;
    background-color: rgb(223, 221, 221);
    padding: 1em;
    margin-bottom: 1em;
}

nav a {
    margin: 1em;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
}

h1{
    color: #0051ff;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(29, 147, 243, 0.5);
    padding: 1em;
    margin: 1em;
    float: right;
}


aside img{
    width: 200px;
    height: auto;
}

p{
    padding: 0 ;
}

header{
    background-color: rgb(223, 221, 221);
    text-align: left;
    padding: 1em;
    margin-bottom: 1em;
}

aside{
    width: 380px;
    margin: 1em;
    border: 2px solid black;
    padding: 1em;
    background-color:rgb(223, 221, 221) ;
    box-shadow: 2px 2px 5px rgba(29, 147, 243, 0.5);
}

footer {
    background-color: rgb(223, 221, 221);
    text-align: center;
    padding: 1em;
    margin-top: 15px;
    border-top: 1px solid #000;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
